.bg {
  background-image: url(/public/background-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 0rem 1.5rem 6rem 1.5rem;
  display: flex;
  justify-content: center;
}

.aboutme-container {
  background-color: #0e0e0f;
  width: 100%;
  max-width: 1100px;
  border-radius: 40px;
  padding: 2rem 2rem;
  text-align: center;
}

.profil-text-flex {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap: 5vw;
}

.aboutme-img {
  border-radius: 50%;
  width: 15vw;
}

@media (max-width: 1500px) {
  .profil-text-flex {
    flex: 1;
    gap: 2vw;
    justify-content: center;
    align-items: center;
  }

  .aboutme-img {
    height: min-content;
  }
}

@media (max-width: 900px) {
  .profil-text-flex {
    flex: 1;
    gap: 2vw;
    justify-content: center;
    align-items: center;
  }

  .aboutme-img {
    width: 20vw;
  }
}

@media (max-width: 640px) {
  .profil-text-flex {
    gap: 2vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .aboutme-img {
    margin-top: 2%;
    width: 30vw;
  }

  p {
    text-align: center;
  }
}
