.contact-container {
  background-image: url("/public/contactbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 60vh;
  display: flex;
  box-sizing: border-box;
  padding: 3em 8em 10em 7em;
  gap: 2em;
}

.image-contact {
  flex: 1;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-contact img {
  width: 100%;
}

/* contact */
.contact-info-container {
  width: 55%;
  flex: 1;
  height: max-content;
  box-sizing: border-box;
}

.inp1 {
  grid-area: inp1;
}
.inp2 {
  grid-area: inp2;
}
.inp3 {
  grid-area: inp3;
}
.inp4 {
  grid-area: inp4;
}
.inp5 {
  grid-area: inp5;
}
.div {
  grid-area: div;
}

.grid-input {
  display: grid;
  grid-template-areas:
    "inp1 inp2"
    "inp3 inp4"
    "inp5 inp5"
    "inp5 inp5"
    "send-btn div";
  gap: 0.2em;
}

.contact-tittle {
  color: white;
  font-size: 2.5em;
}

.inp {
  height: 5em;
  border-radius: 20px;
  border: 1px white solid;
  backdrop-filter: blur(6px);
  background-color: rgb(255, 255, 255, 0.1);
  padding: 2em;
  color: white;
}

.inp:focus {
  outline: none;
  color: white;
}

.inp::placeholder {
  color: #fbe0fc;
}

.send-btn {
  padding: 1em;
  width: 50%;
  font-weight: bolder;
}

@media (max-width: 1000px) {
  .image-contact {
    display: none;
  }
  .contact-container {
    padding: 3em 4em 6em 4em;
  }

  .inp {
    margin-bottom: 3px;
  }
}

@media (max-width: 600px) {
  .grid-input {
    display: flex;
    flex-direction: column;
  }

  .contact-container {
    padding: 3em 3em;
  }

  .inp {
    margin-bottom: 4px;
  }
}
