* {
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #111112;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding: 0 2rem;
}

/* logo */
.nav-logo {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}

/* menu */
.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
}

.nav-links li a {
  text-decoration: none;
  color: rgb(186, 186, 186);
  font-size: 1rem;
  transition: 0.2s;
}
.nav-links li a:hover {
  color: white;
}

/* buttons */
.btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  background-color: #222;
  color: white;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container button:hover {
  background-color: aliceblue;
  color: #111;
  outline: #111;
}

.icon {
  width: 100%;
  height: auto;
}

.btn-connect {
  padding: 10px 18px;
  background-color: #111;
  color: white;
  border: 1.5px solid white;
  font-weight: bold;
}

.btn-connect:hover {
  background: linear-gradient(125deg, #912f78, #4f2aa9);
  color: white !important;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .nav-container {
    padding: 0 1rem;
  }

  .nav-links {
    padding: 0;
  }
}

@media (max-width: 750px) {
  .nav-container {
    flex-direction: column;
    gap: 15px;
  }

  .nav-links {
    gap: 20px;
  }
}
