.project-container {
  background-color: black;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  max-width: 750px;
}

.tittle {
  color: white;
  font-size: 2.5rem;
}

.my-project {
  color: rgb(186, 186, 186);
  margin-top: 1rem;
  line-height: 1.6;
}

.btn-project-container {
  width: 100%;
  max-width: 800px;
  height: 55px;
  margin: 3rem auto 0;
  display: flex;
}

.btn-project-container button {
  flex: 1;
  border: 1px solid white;
  color: white;
  background-color: #171717;
  font-size: 1rem;
  cursor: pointer;
}

.btn-project-container button:hover {
  background: linear-gradient(125deg, #912f78, #4f2aa9);
}

.btn-project-container button:focus {
  background: linear-gradient(125deg, #912f78, #4f2aa9);
}

.img-project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1em;
  width: 85%;
  margin: 2em 0 3em 0;
}

.img {
  border-radius: 20px;
  overflow: hidden;
}

.img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

/* responsive */

@media (max-width: 900px) {
  .img-project-container {
    grid-template-areas:
      "img1 img2"
      "img3 img4"
      "img5 img6";

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (max-width: 800px) {
  .img-project-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 600px) {
  .btn-project-container {
    height: 45px;
  }

  .img-project-container {
    grid-template-areas:
      "img1"
      "img2"
      "img3"
      "img4"
      "img5"
      "img6";
  }

  .project-container {
    min-height: 100vh;
  }
}

@media (max-width: 500) {
  .project-container {
    min-height: 150vh;
  }
}
