.bg {
  background-image: url(/public/background-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 0rem 1.5rem 6rem 1.5rem;
  display: flex;
  justify-content: center;
}

.skills-container {
  background-color: #0e0e0f;
  width: 100%;
  max-width: 1100px;
  border-radius: 40px;
  padding: 3rem 2rem;
  text-align: center;
}

.skills {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.skills-image {
  width: 90%;
  max-width: 900px;
}
